.customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid currentColor;
    color: #afb1b8;
    border-radius: 4px;
    width: 210px;
    height: 92px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 226px;
      height: 92px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
      height: 92px;
    }
  }

  &__link svg {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.customer__link:hover {
  color: var(--main-color);
}

.customer__link:hover svg,
.customer__link:focus svg {
  fill: var(--main-color);
}
