.header {
  border-bottom: 1px solid var(--headerborder-color);

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }

  &__nav-list {
    // visibility: hidden;
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 50px;
      visibility: unset;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 50px;
      visibility: unset;
    }
  }

  &__logo {
    margin-right: 93px;
    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (min-width: 768px) {
      padding-top: 24px;
      padding-bottom: 25px;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__logo-link {
    color: var(--fifth-color);
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
  }

  &__link {
    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 4px;
        bottom: -29px;

        background: #2196f3;
        border-radius: 2px;
      }
    }
  }

  &__contact {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
      padding-left: 0;
      flex-direction: unset;
      display: flex;
      gap: 30px;
      margin-left: auto;
    }
  }

  &__contact-item {
    display: flex;
  }

  &__link {
    text-decoration: none;
    color: var(--fifth-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link svg {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__burger {
    display: flex;
    justify-content: right;
    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
    }
  }
}

.text__grey {
  color: var(--third-color);
}

// .header {
//   padding-block: 10px;
//   border-bottom: 1px solid var(--headerborder-color);

//   @media screen and (min-width: 768px) {
//     padding-block: 21px;
//   }

//   @media screen and (min-width: 1200px) {
//     padding-top: 24px;
//     padding-bottom: 25px;
//   }

//   &__logo-link {
//     color: var(--fifth-color);
//     font-size: 26px;
//     font-family: "Raleway", sans-serif;
//     text-decoration: none;
//     font-weight: 700;
//   }

//   &__container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

// .header {
//   border-bottom: 1px solid var(--headerborder-color);

//   &__container {
//     display: flex;
//     align-items: center;
//   }

//   &__nav {
//     text-decoration: none;
//     font-size: 14px;
//     line-height: 1.17;
//     display: flex;
//     align-items: center;
//   }

//   &__nav-list {
//     display: flex;
//     gap: 50px;
//   }

//   &__logo {
//     margin-right: 93px;
//     padding-top: 24px;
//     padding-bottom: 25px;
//   }

//   &__logo-link {
//     color: var(--fifth-color);
//     font-size: 26px;
//     font-family: "Raleway", sans-serif;
//     text-decoration: none;
//     font-weight: 700;
//   }

//   &__link {
//     &--active {
//       position: relative;

//       &::after {
//         content: "";
//         position: absolute;
//         width: 100%;
//         left: 0;
//         height: 4px;
//         bottom: -29px;

//         background: #2196f3;
//         border-radius: 2px;
//       }
//     }
//   }

//   &__contact {
//     display: flex;
//     gap: 30px;
//     margin-left: auto;
//   }

//   &__contact-item {
//     display: flex;
//   }

//   &__link {
//     text-decoration: none;
//     color: var(--fifth-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     display: flex;
//     align-items: center;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   &__link svg {
//     margin-right: 10px;
//     fill: currentColor;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .text__grey {
//   color: var(--third-color);
// }
