.loremipsum {
  display: flex;
  gap: 30px;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    height: 120px;
    border-radius: 4px;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__description {
    line-height: 1.71;
    color: var(--third-color);
  }
}

