.loremipsum {
  margin-bottom: 30px;
  // max-width: 767px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: unset;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    height: 120px;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    }
  }

  &__text {
    // flex-wrap: wrap;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
    @media screen and (min-width: 1200px) {
    }
  }

  &__description {
    line-height: 1.71;
    color: var(--third-color);
  }

  &__item {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      // margin-bottom: auto;
      width: calc(50% - 15px);
    }
    @media screen and (min-width: 1200px) {

      // width: calc(25% - 22.5px);
    }
  }
}

// .loremipsum {
//   display: flex;
//   gap: 30px;

//   &__image {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #f5f4fa;
//     height: 120px;
//     border-radius: 4px;
//   }

//   &__text {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     margin-bottom: 10px;
//     margin-top: 30px;
//   }

//   &__description {
//     line-height: 1.71;
//     color: var(--third-color);
//   }
// }
