.team {
  padding-top: 60px;
  padding-bottom: 94px;
  background-color: var(--sixth-color);

  &__item {
    background-color: var(--fourth-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__list {
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;

    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    }
  }
}
